div.panel.panel-primary
    div.panel-heading
        span.pull-right {{teamMember.category}}
        span {{teamMember.name}}
    div.panel-body
        div.row
            div.col-sm-6
                img.img-thumbnail(ng-src='{{teamMember.imagePath}}')
                ul.list-group
                    li.list-group-item
                        span.pull-right {{teamMember.stats.happinessLevel}}
                        span Happiness Level
                    li.list-group-item
                        span.pull-right {{teamMember.stats.stressLevel}}
                        span Stress Level
                    li.list-group-item
                        span.pull-right {{teamMember.stats.storiesCompleted}}
                        span Stories Completed
                    li.list-group-item
                        span.pull-right {{teamMember.stats.specialSkills}}
                        span Special Skills
            div.col-sm-6
                ul.list-group
                    li.list-group-item.active Attributes
                    li.list-group-item
                        span.pull-right {{teamMember.attributes.problemSolving}}
                        span Problem Solving
                    li.list-group-item
                        span.pull-right {{teamMember.attributes.learnSkills}}
                        span Learn Skills
                    li.list-group-item
                        span.pull-right {{teamMember.attributes.stressManagement}}
                        span Stress Management
                    li.list-group-item.active Skills
                    li.list-group-item
                        span.pull-right {{teamMember.skills.architecture}}
                        span Architecture
                    li.list-group-item
                        span.pull-right {{teamMember.skills.middleTier}}
                        span MiddleTier
                    li.list-group-item
                        span.pull-right {{teamMember.skills.uiUx}}
                        span Ui/Ux
                    li.list-group-item
                        span.pull-right {{teamMember.skills.findBugs}}
                        span Find Bugs
                    li.list-group-item
                        span.pull-right {{teamMember.skills.testing}}
                        span Testing