div.panel.panel-primary
    div.panel-heading
        span.pull-right {{Category}}
        span {{AgentName}}
    div.panel-body
        div.row
            div.col-sm-6
                img.img-thumbnail(src='images/teamMembers/male/Male model fashion image_0014a.jpg')
                ul.list-group
                    li.list-group-item
                        span.pull-right 50
                        span Happiness Level
                    li.list-group-item
                        span.pull-right 50
                        span Stress Level
                    li.list-group-item
                        span.pull-right 50
                        span Stories Completed
                    li.list-group-item
                        span.pull-right 50
                        span Special Skills
            div.col-sm-6
                ul.list-group
                    li.list-group-item.active Attributes
                    li.list-group-item
                        span.pull-right 50
                        span Problem Solving
                    li.list-group-item
                        span.pull-right 50
                        span Learn Skills
                    li.list-group-item
                        span.pull-right 50
                        span Stress Management
                    li.list-group-item.active Skills
                    li.list-group-item
                        span.pull-right 50
                        span Architecture
                    li.list-group-item
                        span.pull-right 50
                        span MiddleTier
                    li.list-group-item
                        span.pull-right 50
                        span Ui/Ux
                    li.list-group-item
                        span.pull-right 50
                        span Find Bugs
                    li.list-group-item
                        span.pull-right 50
                        span Testing