div.panel.panel-primary
    div.panel-heading
        span.pull-right 10/25
        span Team Skills Lab
    div.panel-body
        ul.list-group
            - for (var i = 0; i < 10; ++i) {
            li.list-group-item
                h4.list-group-item-heading
                    span.pull-right 50%
                    span User Stories
                p.list-group-item-text Bacon ipsum dolor sit amet meatloaf spare ribs strip steak flank, ball tip drumstick meatball pork loin short ribs. Ball tip spare ribs turkey turducken ribeye. Jerky pancetta kevin sirloin, meatball fatback shankle shank filet mignon. Swine pancetta meatball, kielbasa cow bacon andouille pork belly sirloin.
            - }