div.row
    div.col-md-6
        div.row
            div.col-sm-6
                include teamMember
            div.col-sm-6
                include teamMember
        div.row
            div.col-sm-6
                include teamMember
            div.col-sm-6
                include teamMemberEmpty
    div.col-md-6
        div.row
            div.col-sm-12
                include teamSkillsLab

